<template>
  <div>
    <div class="columns is-centered">
      <div class="column is-two-thirds">
        <div class="spaced">
          <div class="container logo"><img src="../static/duck.png" alt="duck.png"></div>
          <div class="title">Duck Feed</div>
        </div>

        <div class="spaced">
          <div class="spaced">
            <b-datepicker
              placeholder="Click to enter feeding date..."
              v-model="date">
            </b-datepicker>
          </div>

          <div class="spaced">
            <b-timepicker
              placeholder="Click to enter feeding time..."
              v-model="time"
              :hour-format="12">
            </b-timepicker>
          </div>

          <div class="spaced">
            <b-field>
              <b-input
                type="string"
                minlength="1"
                maxlength="140"
                placeholder="Food given to ducks"
                v-model="food"
                icon="food-apple">
              </b-input>
            </b-field>
          </div>

          <div class="spaced">
            <div class="field">
              <p class="control has-icons-left">
                <input
                  ref="autocomplete"
                  class="input"
                  placeholder="Search for feeding location..."
                  type="text"
                  onfocus="value = ''"/>
                <span class="icon is-left">
                  <i class="mdi mdi-magnify"></i>
                </span>
              </p>
            </div>
          </div>

          <div class="spaced">
            <b-field>
              <b-input placeholder="Number of ducks fed"
                type="number"
                min="1"
                v-model="numDucks"
                icon="pound">
              </b-input>
            </b-field>
          </div>

          <div class="spaced">
            <section>
              <b-taginput
                v-model="foodTags"
                :data="filteredTags"
                mintags="1"
                maxtags="1"
                autocomplete
                :allow-new="true"
                icon="label"
                placeholder="Kind of duck food (press 'Enter' key to save)"
                @typing="getFilteredTags">
              </b-taginput>
            </section>
          </div>

          <div class="spaced">
            <b-field>
              <b-input placeholder="Amount fed to ducks in kilograms"
                type="number"
                min="1"
                v-model="foodAmount"
                icon="weight-kilogram">
              </b-input>
            </b-field>
          </div>

          <div class="spaced">
            <div class="spaced">
              <div class="buttons is-centered">
                <a class="button is-primary" @click.prevent="submitData">Enter</a>
              </div>
            </div>
            <div class="spaced">
              <div class="buttons is-centered">
                <a class="button is-info" @click.prevent="exportData">Export</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from '../plugins/axios';

export default {
  mounted() {
    // eslint-disable-next-line no-undef
    this.autocomplete = new google.maps.places.Autocomplete(
      (this.$refs.autocomplete),
      { types: ['geocode'] },
    );

    this.autocomplete.addListener('place_changed', () => {
      const place = this.autocomplete.getPlace();
      this.location = place.formatted_address;
    });
  },

  async asyncData() {
    this.filteredTags = await this.getTags();
  },

  data: () => ({
    date: new Date(),
    time: new Date(),
    food: '',
    numDucks: '',
    foodTags: [],
    filteredTags: [],
    foodAmount: '',
  }),

  methods: {
    getAddressData(addressData) {
      this.address = addressData;
    },

    async getTags() {
      const result = await axios.get('/api/getTags');
      const { data } = result;

      return data;
    },

    async getFilteredTags(text) {
      try {
        text = text.toLowerCase();

        const tags = await this.getTags();

        this.filteredTags = tags.filter(tag => tag.indexOf(text) >= 0);
      } catch (err) {
        // eslint-disable-next-line no-console
        console.error(err.message);
      }
    },

    async submitData() {
      const loadingComponent = this.$loading.open();

      const date = new Date(this.date);
      const time = new Date(this.time);

      const year = date.getUTCFullYear();
      const month = date.getUTCMonth() + 1;
      const day = date.getUTCDate();

      const hours = time.getUTCHours();
      const minutes = time.getUTCMinutes();
      const seconds = '00';

      const dateString = `${year}-${month}-${day}`;
      const timeString = `${hours}:${minutes}:${seconds}`;

      let timestamp = new Date(`${dateString} ${timeString}`);
      timestamp = timestamp.toISOString();

      this.foodTags = this.foodTags.map(tag => tag.toLowerCase());

      try {
        await axios.post('/api/submit', {
          timestamp,
          food: this.food,
          location: this.location,
          numDucks: this.numDucks,
          foodTags: this.foodTags,
          foodAmount: this.foodAmount,
        });
      } catch (err) {
        // eslint-disable-next-line no-console
        console.error(err.message);
      }

      loadingComponent.close();
    },

    async exportData() {
      const loadingComponent = this.$loading.open();

      try {
        const result = await axios.get('/api/data');

        let { data } = result;
        data = JSON.stringify(data, null, 2);

        const blob = new Blob([data], { type: 'text/plain' });
        const e = document.createEvent('MouseEvents');
        const a = document.createElement('a');
        a.download = 'data.json';
        a.href = window.URL.createObjectURL(blob);
        a.dataset.downloadurl = ['text/json', a.download, a.href].join(':');
        e.initEvent('click', true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
        a.dispatchEvent(e);
      } catch (err) {
        // eslint-disable-next-line no-console
        console.error(err.message);
      }

      loadingComponent.close();
    },
  },
};
</script>

<style lang="scss" scoped>
.spaced {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.logo {
  height: 200px;
  width: 200px;
}

.title {
  font-family: 'Pacifico', cursive;
  font-size: 5rem;
  text-align: center;
  color: black;
}
</style>
