<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
  <head>
    {{ HEAD }}
  </head>
  <body {{ BODY_ATTRS }}>
    {{ APP }}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKrBVyaQZSVM1bwEWg3iEm6DGgPDGJcmY&libraries=places"></script>
  </body>
</html>
